
@{
    Layout = "~/Views/Shared/_Layout02.cshtml";
    ViewBag.Title = "Error";
}
<div class="text-center bg-white border shadow-lg rounded p-5">
    <h3 style="color: var(--danger)">Vui lòng hãy đăng nhập mới có thể sự dụng chức năng này</h3>
    <a href="@Url.Action("HLV_DangNhap")" class="btn btn-login mb-3 w-25 text-white">
        <i class="fas fa-sign-in-alt"></i> Đăng Nhập
    </a>
</div>

