
<div class="list-group">
    <a class="list-group-item text-white fw-bold text-center" style="background: var(--primary-dark) ">Chức năng</a>
    <a class="list-group-item" href="@Url.Action("LichLamViec")">Lịch làm việc</a>
    <a class="list-group-item" href="@Url.Action("ChinhSuaLich")">Chỉnh sửa lịch</a>
    <a class="list-group-item" href="@Url.Action("DanhSachLop")">Danh sách lớp</a>
    <a class="list-group-item" href="@Url.Action("DanhSachKhachPT")">Danh sách khách PT</a>
</div>