name: ASP.NET MVC CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: windows-latest   # ASP.NET MVC cáº§n Windows runner

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup MSBuild
        uses: microsoft/setup-msbuild@v1.1

      - name: Setup NuGet
        uses: NuGet/setup-nuget@v1.2.0

      - name: Restore NuGet packages
        run: nuget restore QL_Gym_HLV.sln

      - name: Build solution
        run: msbuild UngDungChoHLV.sln /p:Configuration=Release
